# Java
*.class
*.log
*.jar
*.war
*.ear

# Maven
/target/
dependency-reduced-pom.xml
release.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-data/